body {
    font-family: 'Arial', sans-serif;
    background-color: #1a1a1a; 
    color: #ffffff; 
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

header {
    background-color: #b30000;
    padding: 20px;
    text-align: center;
    border-bottom: 5px solid #800000;
}

header h1 {
    margin: 0;
    font-size: 3em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

nav a {
    color: #ffffff;
    text-decoration: none;
    margin: 0 15px;
    font-size: 1.2em;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #ffcc00; 
}

section {
    padding: 20px;
    margin: 20px auto;
    max-width: 800px;
    background-color: #262626; 
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

section h2 {
    color: #ffcc00; 
    border-bottom: 2px solid #b30000;
    padding-bottom: 10px;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin: 10px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

ol, ul {
    padding-left: 20px;
}

li {
    margin-bottom: 10px;
}


p a {
    color: #ffcc00; 
    text-decoration: none;
    font-weight: bold;
}

p a:hover {
    text-decoration: underline;
}

footer {
    background-color: #b30000; 
    color: #ffffff; 
    text-align: center;
    padding: 20px;
    border-top: 5px solid #800000; 
    margin-top: 40px; 
}

.footer-content {
    max-width: 800px;
    margin: 0 auto;
}

.footer-content p {
    margin: 0;
    font-size: 1em;
}

.social-links {
    margin-top: 10px;
}

.social-links a {
    color: #ffffff; 
    text-decoration: none;
    margin: 0 10px;
    font-size: 1em;
    transition: color 0.3s ease;
}

.social-links a:hover {
    color: #ffcc00; 
}